.project .p1-info {
  position: relative;
  z-index: 3;
  color: #222050;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  text-align: left;
  padding: 25px;
}
.project:hover .p1-info {
  opacity: 1;
  transform: translateY(0);
}
.project .p1-info h2 {
  margin: 0;
}
.project .p1-info p {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-top: 8px 0 20px 0;
}
.project .p1-info a {
  text-decoration: none;
  color: #222050;
  font-weight: 600;
  position: relative;
}
.pr1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 53px;
}
.contact {
  background-color: #f8fafc;
  padding: 35px;
  height: 150vh;
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

.contact-form-sec {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background: #fff;
  padding: 3rem 4rem 4rem 4rem;
  height: 700px;
  text-align: right;
  width: 577px;
  border-radius: 5px;
  margin: 4rem auto;
}
.name-sec,
.mail-sec,
.msg-sec {
  margin-bottom: 3rem;
}
.name,
.mail,
.message {
  color: #e2bdff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}
.form-input {
  color: #333;
  padding: 1.3rem;
  width: 100%;
  border: none;
  font-size: 1rem;

  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}
.contact-btn {
  padding: 5px;
  font-size: 1.3rem;
  background-color: #e2bdff;
  color: #fff;
  border: none;
  width: 30%;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 700;
}
.footer-sec {
  height: 400px;
  width: 100%;
  background-color: #222050;
}
.foot-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 100px;
  width: 100%;
}
.foot-text {
  text-align: left;
}
.foot-link {
  height: 30px;
  font-size: 2rem;
  color: #fff;
  width: 10%;
  display: inline-block;
  margin-top: 10px;
}
.copyright {
  color: #fff;
  font-size: 0.8rem;
  height: 50px;
  position: relative;
  top: 64px;
  border-top: thin solid #006f9b;
  padding-top: 20px;
  background-color: #333;
  text-align: center;
}
.copyright a {
  color: #e2bdff;
}
.foot-menu {
  line-height: 30px;
}
.foot-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
@media screen and (min-width: 300px) and (max-width: 620px) {
  body {
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .about {
    height: 140vh;
  }
  .projects-content {
    height: 125vh;
  }
  .contact {
    height: 150vh;
  }
}
@media screen and (min-width: 620px) and (max-width: 1043px) {
  body {
    font-size: 0.6rem;
    display: grid;
    max-zoom: 100%;
  }
  .about {
    height: 140vh;
  }
  .projects-content {
    height: 125vh;
  }
  .contact {
    height: 150vh;
  }
}
@media screen and (min-width: 1043px) and (max-width: 1128px) {
  body {
    display: grid;
    max-zoom: 100%;
  }
  .about {
    height: 140vh;
  }
  .projects-content {
    height: 125vh;
  }
  .contact {
    height: 150vh;
  }
}
@media screen and (min-width: 1128px) {
}
